
  
.numbering_heading{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;
text-align: center;
letter-spacing: 0.374px;
color: $point-tect-col;
margin: 50px auto;
}

.select-container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 291px;
    margin: 1.5rem auto;
}


.home-copy{
    font-family: 'Actor', sans-serif;
    font-size: 0.825rem;
    margin: 0;
}