
.category-name{
    margin-top: 40px;
}

.category-name h1,h2,h3{
    color: $text-col;
    font-family: $typo-secondary-font-ale;
    font-weight: bold;
    margin: 20px 0 20px 38px;
    padding: 0;
    gap: 15px;
}

