.thankyou-order-banner{
    width: 390px;
}

.thankyou-order-banner-h{
    display: flex;
    font-family: 'Alegreya Sans SC';
font-style: normal;
width: 245px;
font-weight: 700;
font-size: 40px;
line-height: 45px;
/* or 112% */
text-align: center;
margin: 86.8px 72px 66px;
color: $text-col;

}