ul.breadcrumb {
    padding: 52px 0 10px 40px;
    list-style: none;
    background-color: transparent;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: $text-col;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: $text-col;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: $point-col-dark;
    text-decoration: underline;
  }