// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------





$typo-text-font-family-act: "Actor";
$typo-secondary-font-ale: 'Alegreya Sans SC', sans-serif;
$typo-accent-font-family-ssp: "Source Sans Pro";


//Quantity
$font-content: 'Actor', sans-serif;;
$font-main: 'Actor', sans-serif;;